@model IEnumerable<Driver>;

<div class="container">
    <div class="row">
        <div class="col-10">
            <a asp-action="AddDriver">Add Driver</a>
            <form asp-action="Index">
                <input type="text" name="searchString" placeholder="Search for a name" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" />
            </form>
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <a class="driver-link" data-bs-toggle="collapse" href="#driverOptions-@item.DriverId" role="button" aria-expanded="false" aria-controls="driverOptions-@item.DriverId">
                            @item.DriverName
                        </a>
                        <div class="collapse" id="driverOptions-@item.DriverId">
                            <div class="btn-group mt-2" role="group">
                                <a asp-controller="Driver" asp-action="DriverInfo" asp-route-id="@item.DriverId" class="btn btn-info">Driver Info</a>
                                <a asp-controller="Driver" asp-action="EditDriver" asp-route-id="@item.DriverId" class="btn btn-warning">Update</a>
                                <a asp-controller="Driver" asp-action="DeleteDriver" asp-route-id="@item.DriverId" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>