@using Microsoft.AspNetCore.Identity
@model IList<Employee>
@{
    ViewData["Title"] = "Employees";
}


<div class="container">
    <div class="row justify-content-center p-5">
        <div class="col-md-6 card shadow p-3 justify-content-center align-items-left">
            <h2 class="text-center text-info">@ViewData["Title"]</h2>
            <div class="row">
                <div class="d-flex justify-content-between p-3">
                    <form asp-action="Index" class="btn-group">
                        <input type="text" name="searchString" placeholder="Filter by name" value="@ViewData["CurrentFilter"]" />
                        <input type="submit" value="Filter" class="btn btn-primary" />
                    </form>
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Add Employee</a>
                </div>
            </div>
            <ul class="list-group">
                @foreach (var user in Model)
                {
                    <li class="list-group-item border-0">
                        <a class="text-decoration-none fw-bold text-black" data-bs-toggle="collapse" href="#employeeOptions-@user.Id" role="button" aria-expanded="false" aria-controls="employeeOptions-@user.Id">
                            @user.Name
                        </a>
                        <div class="collapse" id="employeeOptions-@user.Id">
                            <div class="mt-2" role="group">
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-success me-1">Update</a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger ms-1">Delete</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>